<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Assessment_Two.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Assessment_Two.Properties.Settings>
            <setting name="FavouritesPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="HistoryPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Homepage" serializeAs="String">
                <value/>
            </setting>
        </Assessment_Two.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
