/* 
    Document   : main.css
    Created on : 29.11.2010, 13:14:08
    Author     : Florian Bergmann
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
	display: block;
}

here {
	font: bold;
}
